/books/
/icon/
/.idea/
/tools/
/.gitignore/
/__pycache__/
/txt_copies/
/build/
/dist/
/打包/
/wordapp/
/cover_layout.json
UI/folder_ui/__pycache__/button.cpython-312.pyc and b/Folder_UI/__pycache__/button.cpython-312.pyc
/UI/folder_ui/common/__pycache__/folderUI_API.cpython-312.pyc